{% extends "layout/main.twig" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
  <main class="py-2">
    <div class="alert alert-danger">
      <h4>Sorry, the page you are looking for could not be found.</h4>
      <a class="alert-link" href="/">Back to Index page</a>
    </div>
  </main>
{% endblock %}
